<div class='well bs-component'>

    <div class="row">
      <label class="control-label col-lg-2"></label>
      <div class="col-lg-7">
      	<%= form_tag "/recipes/search", class: "form-horizontal" do %>
		  <fieldset>
			<div class="form-group">
			  <div class="input-group">
			    <span class="input-group-btn">
			      <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></button>
			      <%= text_field_tag :query , nil, class: "form-control", placeholder: "onion, chicken wings, etc..."%>
			    </span>
			  </div>
			</div>
		  </fieldset>
		<% end %>
	  </div>
	</div>

	<div class='row'>
		<label class="control-label col-lg-3"></label>
		<div class="form-group">
			<%= link_to "Create a new Recipe", "/recipes/new"%> / <%= link_to "Create a new Ingredient", "/recipes/new"%>
		</div>
	</div>

<br>
    <div class="row">
			<% @random_recipes.each do |r| %>
				<div class="col-lg-2">
					<div class="thumbnail">
				<% x = Recipe.find(r.id) %>
				<%= link_to image_tag(r.image_url), "/recipes/#{r.id}", :class=>"image-responsive"%>
				<row>
				<h3 style="text-align: center;"><%=x.name%></h3>
	            <label></label>
	        	</div>
				</div>
			<% end %>
    </div>



</div>


