<%= form_tag "/fridges", :method => 'patch' do %>
	<h2>Remove items from your inventory</h2>
	<%= submit_tag "Submit" %>
	<% @fridge.each do |g| %>
				<div class="row">
				  <div class="col-lg-6">
				    <div class="input-group">
				    	<%= check_box_tag  "delete_checkbox[]",g.id %>
						<%= label_tag(g.id, g.name ) %>
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
				</div><!-- /.row -->
	<% end %>
	<%= check_box_tag  "clearinventory_checkbox"%>
	<%= label_tag("Delete everything from your inventory") %>

	<hr>
	<h2>Add items to your inventory</h2>
	
	<% @everythingelse.each do |g| %>
				<div class="row">
				  <div class="col-lg-6">
				    <div class="input-group">
				    	<%= check_box_tag  "add_checkbox[]",g.id %>
						<%= label_tag(g.id, g.name ) %>
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
				</div><!-- /.row -->
	<% end %>


	<%= submit_tag "Submit" %>

<% end %>







