<div class='well bs-component'>

<h1 class="page-header">Ingredients <%= @username %></h1>


<div class="row">
	<div class="col-lg-10">
		<label> <%= link_to "Create a new Ingredient", "/ingredients/new"%> or Select a few and search for a recipe </label>
	</div>
</div>

<fieldset>

<%= form_tag "/recipes/search" do %>

	<div class="row">
      <div class="form-group">
        <div class="col-lg-10">
			<%= submit_tag "Submit", class: "btn btn-primary" %>
		</div>
	  </div>
	</div>

	<% @gr.sort.each do |cat,ingrs| %>

		<h3><p><%= cat %></p></h3>
			<ul class='list-inline'>
			<% ingrs.each do |g| %>  
				    	<li><%= check_box_tag  "ingredgients_checkbox[]",g.name %><%= g.name %></li>
	  		<% end %>
	  		</ul>
		<hr>
	<% end %>
	<div class="row">
      <div class="form-group">
        <div class="col-lg-10">
			<%= submit_tag "Submit", class: "btn btn-primary" %>
		</div>
	  </div>
	</div>
<% end %>
</fieldset>
</div>

</row>



</div>

